h1 {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    border: 3px solid;
    border-radius: 1px;
    padding: 10px;
    margin: 20px;
}

p{
    font-size: x-large;
}

.section-one{
    background-color: antiquewhite;
}

.description{
    color: grey;
}

.profile-img{
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;
}

#footer{
    color: whitesmoke;
}